<article>
 <% if entry.photo.present? %>
 <p class="thumb">
  <%= link_to(
        image_tag(entry.photo.url(:thumb), alt: entry.id, rel: 'photo'),
        entry.photo.url) %>
 </p>
 <% end %>
 <p class="tags">
  <% entry.tags.each do |tag| %>
   <%= link_to(tag.name, tag) %>
  <% end %>
 </p>
 <p class="body"><%= entry.body %></p>
 <footer>
  <%= link_to(entry_time(entry), entry) %>
 </footer>
 <%= render 'replies', entry: entry %>
</article>
