<%= article({
      class: entry.idol.try(:romaji),
    }) do %>
 <% if entry.photo.present? %>
 <p class="thumbnail">
  <%= link_to(
        lazy_image(entry.photo.url(:thumb), alt: entry.id),
        entry_full_path(entry)) %>
 </p>
 <% end %>
 <div class="text">
  <p class="body">
   <%= entry.body %>
  </p>
  <%= footer do %>
   <% if entry.root? %>
    <span class="tags">
     <% entry.tags.each do |tag| %>
      <%= link_to(tag.name, tag) %>
     <% end %>
    </span>
   <% end %>
   <%= entry_time(entry) %>
  <% end %>
 </div>
<% end %>
