<%= content_tag(:article, {
      class: Imas.romaji(entry.idol_tag),
      title: entry.body,
    }) do %>
 <% if entry.photo.present? %>
 <p class="thumb">
  <%= link_to(
        image_tag(entry.photo.url(:thumb), alt: entry.id, rel: 'photo'),
        polymorphic_path([:full, entry], filename: entry.filename)) %>
 </p>
 <% end %>
 <div class="text">
  <p class="body"><%= entry.body %></p>
  <footer>
   <% if entry.root? %>
    <span class="tags">
     <% entry.tags.each do |tag| %>
      <%= link_to(tag.name, tag) %>
     <% end %>
    </span>
   <% end %>
   <%= link_to(entry_time(entry), entry) %>
  </footer>
 </div>
<% end %>
