<%# -*- encoding: UTF-8 -*-%>
<section class="upload">
 <h2>ファイルをアップロードする</h2>
 <% @entry ||= Entry.new %>
 <%= form_for @entry do |f| %>
  <table>
   <tr>
    <th>ファイル</th>
    <td><%= f.file_field :photo, length: 60 %></td>
   </tr>
   <tr>
    <th>コメント</th>
    <td><%= f.text_area :body, size: '40x2' %></td>
   </tr>
   <tr>
    <th>タグ</th>
    <td>
     <% idol_names.each_with_index do |name, i| %>
      <%- id = 'tag%d' % i -%>
      <%= check_box_tag 'entry[tag_list][]', name, @entry.tag_list.include?(name), id: id
       %><%= label_tag id, name %>
     <% end %>
    </td>
   </tr>
  </table>
  <p class="buttons"><%= f.submit '送信' %></p>
 <% end %>
</section>
