<%= section class: "replies" do %>
 <% replies.reverse.each do |reply| %>

<%= article(id: 'reply-%d' % reply.id) do %>
 <% if reply.photo.present? %>
 <p class="thumb">
  <%= link_to(
        image_tag(reply.photo.url(:thumb), alt: reply.id, rel: 'photo'),
        reply.photo.url) %>
 </p>
 <% end %>
 <p class="body"><%= reply.body %></p>
 <%= footer do %>
  <%= link_to(entry_time(reply), reply) %>
 <% end %>
<% end %>

 <% end %>
 <%= paginate replies %>
<% end %>
