<%# -*- encoding: UTF-8 -*-%>
<%= render @entry %>

<%= section do %>
 <h2>タグを編集</h2>
 <%= form_for @entry do |f| %>
  <table>
   <tr>
    <th>タグ</th>
    <td>
     <%= render 'form_tags', entry: @entry, f: f %>
    </td>
   </tr>
  </table>
  <p class="buttons"><%= f.submit '更新' %></p>
 <% end %>
<% end %>
