<%# -*- encoding: UTF-8 -*-%>
<% entry = @entry %>
<article>
 <% if entry.photo.present? %>
 <p class="thumb">
  <%= link_to(
        image_tag(entry.photo.url(:thumb), alt: entry.id, rel: 'photo'),
        entry.photo.url) %>
 </p>
 <% end %>
 <p class="body"><%= entry.body %></p>
 <footer>
  <span class="tags">
   <% if entry.tags.present? %>&hearts;<% end %>
   <% entry.tags.each do |tag| %>
    <%= link_to(tag.name, tag) %>
   <% end %>
  </span>
  <span>
   &spades;<%= entry.replies_count %>
  </span>
  <%= entry_time(entry) %>
 </footer>
</article>

<section>
 <h2>タグを編集</h2>
 <%= form_for @entry do |f| %>
  <table>
   <tr>
    <th>タグ</th>
    <td>
     <%= render 'form_tags', entry: @entry, f: f %>
    </td>
   </tr>
  </table>
  <p class="buttons"><%= f.submit '更新' %></p>
 <% end %>
</section>
