<%= content_tag(:article, {
      class: Imas.romaji(@entry.idol_tag),
      id: "full",
    }) do %>
<p>
<%= link_to(
      image_tag(@entry.photo.url(:original), alt: @entry.id, rel: 'photo'),
      :root) %>
</p>
<p><%= @entry.body %></p>
<footer>
  <footer>
   <% if @entry.root? %>
    <span class="tags">
     <% @entry.tags.each do |tag| %>
      <%= link_to(tag.name, tag) %>
     <% end %>
    </span>
   <% end %>
   <%= link_to(entry_time(@entry), @entry) %>
</footer>
<% end %>
<% if @entry.root? %>
 <p><%= link_to('タグを編集(仮)', [:edit, @entry]) %></p>
<% end %>

<%= render 'shared/affiliate' %>
