<% content_for :head do %>
 <%= tag(:link, rel: 'canonical', href: polymorphic_url([:full, @entry], filename: nil)) %>
<% end %>
<%= article({
      class: Imas.romaji(@entry.idol_tag),
      id: "full",
    }) do %>
<p class="photo">
<%= link_to(
      image_tag(@entry.photo.url(:original), alt: @entry.id, rel: 'photo'),
      :root) %>
</p>
<p class="body"><%= @entry.body %></p>
<%= footer do %>
   <% if @entry.root? %>
    <span class="tags">
     <% @entry.tags.each do |tag| %>
      <%= link_to(tag.name, tag) %>
     <% end %>
    </span>
   <% end %>
   <%= link_to(entry_time(@entry), @entry) %>
<% end %>
<% end %>

<%= render 'shared/share' %>

<% if @entry.root? %>
 <p><%= link_to('タグを編集(仮)', [:edit, @entry]) %></p>
<% end %>

<%= render 'shared/affiliate' %>
