<%= render @entry %>
<% if @entry.root? %>
 <p><%= link_to('タグを編集(仮)', [:edit, @entry]) %></p>
<% end %>
<%= render 'replies', replies: @replies if @entry.root? %>
<% if @entry.parent %>
 <section>
  <h2>返信先</h2>
  <%= render @entry.parent %>
 </section>
<% end %>
<% if @entry.root? %>
<%= render 'replies/form', entry: @entry, reply: @reply %>
<% end %>
<!--
<p><%= link_to('この画像を通報する', [@entry, :complaints],
               class: 'complaint', method: :post, remote: true, :'data-type'=> 'json') %></p>
-->
