<!DOCTYPE html>
<html>
<head>
  <title>G4Up</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width" />
  <%= tag(:link, rel: 'alternate', type: 'application/atom+xml', 
                 href: feed_atom_url, title: 'Atom feed') %>
  <meta name="keywords" content="水谷絵理,絵理ちゃん,Ellie" />
  <script src="http://s.hatena.ne.jp/js/HatenaStar.js"></script>
</head>
<body>
 <% flash.each do |key, value| %>
  <%= content_tag :p, value, class: 'flash %s' % key %>
 <% end %>
 <header>
  <h1><%= link_to 'G4Up', :root %></h1>
  <p><abbr title="アイドルマスター グラビアフォーユー！">G4U</abbr> で撮影した写真を自慢しよう</p>
 </header>
<%= yield %>
<address>
 <a href="http://twitter.com/furugomu">@furugomu</a> |
 匿名でのお問い合わせは避難所の G4U スレへ。
</address>
</body>
</html>
