<!DOCTYPE html>
<html>
<head>
  <title>G4Up</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <% flash.each do |key, value| %>
  <%= content_tag :p, value, class: 'flash %s' % key %>
 <% end %>
 <h1><%= link_to 'G4Up', :root %></h1>
<%= yield %>

</body>
</html>
