<!DOCTYPE html>
<html>
 <head>
  <title>G4Up</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width" />
  <script src="http://s.hatena.ne.jp/js/HatenaStar.js"></script>
   <script>
   Hatena.Star.Token = 'fbef3da149dffdf7ffb3c74579ec397c803a65cd';
  </script>
  <%= yield :head %>
 </head>
<body id="fullscreen">
<%= yield %>
</body>
</html>
